<h2>{{t 'users.index.users'}}</h2>

<table>
  <tr>
    <th>#</th>
    <th>{{t 'users.index.email'}}</th>
  </tr>
  {{#each model as |user|}}
  <tr>
    <td>{{user.id}}</td>
    <td>{{user.email}}</td>
  </tr>
  {{/each}}
</table>

{{outlet}}
