<dl>
  <dt>{{t 'docker-container-detail.name'}}</dt>
  <dd>{{dockerContainer.name}}</dd>
  <dt>{{t 'docker-container-detail.status'}}</dt>
  <dd>{{dockerContainer.status}}</dd>
  <dt>{{t 'docker-container-detail.command'}}</dt>
  <dd>{{dockerContainer.command}}</dd>
  <dt>{{t 'docker-container-detail.id'}}</dt>
  <dd>{{dockerContainer.id}}</dd>
  <dt>{{t 'docker-container-detail.image'}}</dt>
  <dd>{{#link-to 'images.detail' dockerContainer.image}}{{dockerContainer.image.shortId}}{{/link-to}}</dd>
</dl>

{{container-start-stop-button dockerContainer=dockerContainer}}
{{#unless dockerContainer.isRunning}}
  <p><button {{action 'remove'}}>Remove</button></p>
{{/unless}}
