<form {{action 'authenticate' on='submit'}}>
  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}
  {{input id='identification' placeholder=(t 'login-form.email') value=identification}}<br>
  {{input id='password' placeholder=(t 'login-form.password') type='password' value=password}}<br>
  <button type='submit' class='wide'>{{t 'login-form.login'}}</button>
</form>
