{{#if dockerContainer.isRunning}}
  <button {{action 'stop'}}>{{t 'container-start-stop-button.stop'}}</button>
{{else}}
  <button {{action 'start'}}>{{t 'container-start-stop-button.start'}}</button>
{{/if}}