<table>
  <tr>
    <th>{{t 'docker-container-list.id'}}</th>
    <th>{{t 'docker-container-list.name'}}</th>
    <th>{{t 'docker-container-list.status'}}</th>
    <th>{{t 'docker-container-list.command'}}</th>
    <th>{{t 'docker-container-list.image'}}</th>
    <th></th>
  </tr>
  {{#each dockerContainers as |dockerContainer|}}
  <tr>
    <td>{{#link-to 'containers.detail' dockerContainer}}{{dockerContainer.shortId}}{{/link-to}}</td>
    <td>{{dockerContainer.name}}</td>
    <td>{{dockerContainer.status}}</td>
    <td>{{dockerContainer.command}}</td>
    <td>{{#link-to 'images.detail' dockerContainer.image}}{{dockerContainer.image.shortId}}{{/link-to}}</td>
    <td>{{container-start-stop-button dockerContainer=dockerContainer}}</td>
  </tr>
  {{/each}}
</table>
