<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Status</th>
    <th>Command</th>
    <th>Image</th>
  </tr>
  {{#each dockerContainers as |dockerContainer|}}
  <tr>
    <td>{{#link-to 'containers.detail' dockerContainer}}{{dockerContainer.shortId}}{{/link-to}}</td>
    <td>{{dockerContainer.name}}</td>
    <td>{{dockerContainer.status}}</td>
    <td>{{dockerContainer.command}}</td>
    <td>{{#link-to 'images.detail' dockerContainer.image}}{{dockerContainer.image.shortId}}{{/link-to}}</td>
  </tr>
  {{/each}}
</table>
